.br{border: 1px solid red;}
.brg{border: 1px solid green;}
.brb{border: 1px solid blue;}
.bry{border: 1px solid yellow;}

body
{
    min-width: 500px;
    line-height: 150%;
}

body, a, p
{
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3{
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--accent-color)!important;
}

h4
{
    font-family: "Roboto Condensed", sans-serif;
    color: var(--accent-color)!important;
}

h1 
{
    font-size: clamp(24px, 0.9545rem + 2.7273vw, 48px) !important;
    font-weight: 700;
    margin: 0 0 24px 0;
    text-transform: uppercase;
}
  

h2, h2 *
{
    font-size: clamp(24px, 0.9545rem + 2.7273vw, 48px) !important;
    line-height: 1.3;
    font-weight: 600;
    margin: 0 0 20px 0;
}

h3 
{
    font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360)));
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 16px 0;
}

h4 
{
    font-size: calc(18px + (22 - 18) * ((100vw - 360px) / (1600 - 360)));
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 12px 0;

}




/*___________________           CONST               ___________________*/

h3, h3 *
{
    
    color: var(--accent-color);
}




.gradient-gray100 
{
    border-top: 3px solid transparent; /* Прозрачная граница (если нужна) */
   
    background-image: linear-gradient(
    to bottom,
    rgba(240, 240, 240, 0.5),
    rgba(240, 240, 240, 0.8) 20%,
    rgba(255, 255, 255, 1) 100%
    );
    background-origin: border-box;
    background-clip: padding-box;
    padding: 20px; /* Добавляем отступы для лучшего вида */
}

.gradient-accent 
{
    border-top: 3px solid transparent; /* Прозрачная граница (если нужна) */
   
    background-image: linear-gradient(
    to bottom,
    rgba(241, 138, 58, 0.2),
    rgba(255, 255, 255, 0.8) 15%,
    rgba(255, 255, 255, 1) 100%
    );
    background-origin: border-box;
    background-clip: padding-box;
    padding: 20px; /* Добавляем отступы для лучшего вида */
}

.stylized__title 
{
    color: black;
    text-shadow:
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px  2px 0 white,
        2px  2px 0 white,
        0    -2px 0 white,
        0     2px 0 white,
        -2px  0    0 white,
        2px  0    0 white;}

  


.before::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 2, 2, 0.9);
    opacity: 80%;
    z-index: 1;
}



.line-h
{
    line-height: 1em;
}


/*___________________           HEADER               ___________________*/




.header
{
    background-color: var(--accent-color);
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0px;
}

.header a 
{
    color: white;
}

.header__logo
{
    width: 120px;
    height: auto;
}
.header__nav
{
    overflow-y: auto;
    max-height: 100vh;
}




.header__nav nav a
{
    transition: all 0.3s ease;
    padding: 12px 25px;
    border-radius: var(--b-radius1); 
}

.header__nav nav a:hover {
    background-color: #030303;
    transition: 0.5s;
}

.header__nav nav a:hover  i 
{
    color: white;
}

.header__nav nav a:active {
    background-color: #000000; 
    transform: scale(0.98); 
    transition: 0.2s; 
}



.header__cart-count
{
    background-color: aliceblue;
}

.header__cart_nav i 
{
    color: rgb(24, 28, 32);
}


.header__icon
{
    display: none;
}

.header__icon i 
{
    color: #fff;
}

/* Стили для бургер-кнопки */


.burger-btn 
{
    display: none;
    width: 60px;
    height: 50px;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;

    position: fixed;
    z-index: 100;
    right: 30px;
}

.burger-btn.active {
    border: 4px solid var(--w-active);
    opacity: 0.7; 
    transition: 0.5s;
}

.burger-btn__spans
{
    height: 30px;
    width: 30px;
}

.burger-btn span 
{
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    transition: all 0.3s ease;
}

/* Анимация в крестик */

.burger-btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-btn.active span:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}

.burger-btn.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}




/* <!--___________________ SECTION  MAIN SWIPER___________________  --> */


.main__swiper
{
    max-height: 900px;
}

.main__swiper img
{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.main__slide-content
{
    position: relative; 
    z-index: 2; 
}

.swiper-wrapper-pagination
{
    position: absolute;
    width: 100%;
    bottom: 40px;
    z-index: 5;
}

.swiper-pagination-bullet {
    background: var(--accent-color);
    border-radius: 2px; 
    width: 20px;
    height: 4px;
    transition: all 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    width: 30px; 
    background: var(--accent-active);
  }

  .swiper-pagination-bullet:hover {
    transform: scale(1.2);
    background: var(--accent-hover);
  }






  /* <!--___________________ SECTION  CARDS STICKERS___________________  --> */






  .stickers__card a {
    height: 100%;
    z-index: 1;
   
  }


  /* <!--___________________ SECTION  printing  --> */






/* .printing__wrapper-cards
{
    z-index: 1;
    position: relative;
}
  .printing__wrapper-cards::before
  {
    content: '';
    position: absolute;
    top: -60px;
    left: 20%;
    width: 620px;
    height: 120px;
    background-image: url('../../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  } */

  
  /* <!--___________________ SECTION  PHOTO ___________________  --> */




.photo__swiper-slide
{
    height: 200px;
}

  .photo__swiper-slide img 
  {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
    width: 100%;
    height: 100%;
  }



  .swiper-wrapper-pagination
{
    left: 50%;
    transform: translateX(-50%);    
    bottom: 20px;
    width: 100%;
    height: 20px;
}



  /* <!--___________________ SECTION  FAQ  Часто задаваемые вопросы___________________  --> */





.question 
{
    position: relative;
    cursor: pointer;
    font-weight: 400;
    padding: 20px;
    /* border-bottom: 1px solid var(--accent-color); */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--b-radius1);
    margin-top: 10px;
}



.question:hover
{
    background-color: var(--accent-hover);
    transition: 0.8s;
}
.question i 
{
    color: var(--accent-color);
}
.question:hover i{
    color: white;
}


.questions__item.active .question {
    background-color: var(--accent-active); 
    color: white; 
}

.questions__item.active .question::before {
    transform: translateY(-50%) rotate(180deg); /* Поворот стрелки */
}


.answer 
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    margin: 0;
    padding: 0 20px; 
}

.questions__item.active .answer 
{
    max-height: 1000px; 
    padding: 20px 0 40px 15px;      
}




  /* <!--___________________ SECTION  require  Требования к макету___________________  --> */


.require__list li
{
    margin-top: 12px;
}

.require__important
{
    background-color: #fcc;
    
}

.require__important p
{
    color: #721c24;
}

footer a, footer p{
    color: white;
}
.footer i 
{
    color: #000000;
}
.footer__icon img
{
    width: 40px;
    height: 40px;
    object-fit: cover; 
}


.footer__bank
{
    width: 60px;
    height: 60px;
}


 /* <!--___________________ SECTION  MAIN FORM___________________  --> */


 .request__form
 {
    overflow: visible;
    z-index: 2;
    background-color: white;
 }
 .request__form::after {
    content: '';
    position: absolute;
    top: -61px;
    right: -70px;
    width: 100px;
    height: 100px;
    background-image: url('../../img/mod4.png');
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 10px; 
    /* opacity: 0.5; */
    z-index: -100;
    transform: scaleX(-1);
}




 /* <!--___________________ SECTION  CULC Калькулятор___________________  --> */


 input[type="radio"] {
    display: none;
}

/* Стилизуем label как кнопку */
#customInputContainer
{
    border: 1px solid var(--accent-color);
}

#customSizeInput
{
    border: 1px solid var(--accent-color);
}

#customSizeInput input 
{
    
}
.option 
{
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.discount
{
    color: var(--accent-color);
}

/* Выделение активного radio */
input[type="radio"]:checked + .option {
    background-color: orange;
    color: white;
}




 /* <!--___________________ SECTION  Registration --> */



.registration {
    position: relative;
    padding: 100px 0;
    min-height: 100vh;
    overflow: hidden; 
  }
  
  .registration::before {
    content: "";
    position: absolute;
    top: -10%; 
    left: -10%;
    right: -10%;
    bottom: -10%;
    background-image: url("../../img/mod6.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
    transition: transform 0.7s linear; 
    filter: blur(5px);
    will-change: transform, filter;
    transform: translate(
        calc(var(--parallax-x, 0) * 1),
        calc(var(--parallax-y, 0) * 1)
      );
  }

  .registration .registration__form {
    position: relative; 
    z-index: 1; 
    background: rgba(255, 255, 255, 1); 
    padding: 30px;
    border-radius: 10px;
  }



 /* <!--___________________ SECTION  authorization --> */



.authorization {
    position: relative;
    overflow: hidden; 
  }
  
  .authorization::before {
    content: "";
    position: absolute;
    top: -10%; 
    left: -10%;
    right: -10%;
    bottom: -10%;
    background-image: url("../../img/mod5.jfif");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
    transition: transform 0.7s linear; 
    filter: blur(3px);
    will-change: transform, filter;
    transform: translate(
        calc(var(--parallax-x, 0) * 1),
        calc(var(--parallax-y, 0) * 1)
      );
  }

  .authorization .authorization__form {
    position: relative; 
    z-index: 1; 
    background: rgba(255, 255, 255, 1); 
  }

 /* <!--___________________ SECTION  CART КОРЗИНА  --> */





.cart__item
{
    border-bottom: 1px solid var(--w-active);
}
.cart__item img{
    width: 70px;
    height: auto;
}


.cart {
    position: relative;
    overflow: hidden; 
  }
  
  .cart::before {
    content: "";
    position: absolute;
    top: -44%;
    left: 10%;
    right: -10%;
    bottom: -10%;
    background-image: url("../../img/cart-fone.png");
    background-position: 51% 30%;
    background-repeat: no-repeat;
    background-size:contain;
    opacity: 0.2;
    z-index: -1;
    transition: transform 0.7s linear; 
    filter: blur(3px);
    will-change: transform, filter;
  
  }

  .cart .cart__form {
    position: relative; 
    z-index: 1; 
    background: rgba(255, 255, 255, 1); 
    padding: 30px;
    border-radius: 10px;
  }

  .cart__wrapper
  {
    background: rgba(255, 255, 255, 1);  
  }
