/* @font-face {
    font-family: ;
    src: url();
} */

/* @font-face {
    font-family: 'Maharlika';
    src: url('../../fonts/Maharlika.ttf') format('truetype');
}

@font-face {
    font-family: 'SnellRoundhand';
    src: url('../../fonts/SnellRoundhand.ttc') format('truetype');
}

.ffam-1 { font-family: 'Maharlika'; }
.ffam-2 { font-family: 'SnellRoundhand'; } */